:root {
  /* ضبط ارتفاع الـ Navbar هنا */
  --navbar-height: 80px;

  --color-bg: #000;
  --color-accent: #535353;
  --color-text-main: #ccc;
  --color-icon-default: #535353;
  --color-icon-hover: #ababab;
  --opacity-icon: 0.75;
  --font-family-main: 'Helvetica Neue', Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-bg);
  color: var(--color-text-main);
  font-family: var(--font-family-main);
  overflow-x: hidden;
}
/* .appMain {
  margin-top: var(--navbar-height);
} */
